
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <title>{% if page.title %}{{ page.title }} | {% endif %}日本Symfonyユーザー会</title>
    <link rel="stylesheet" href="{{ site.basepath }}static/basic.css" type="text/css" />
    <!--
    <script type="text/javascript" src="static/underscore.js"></script>
    <script type="text/javascript" src="static/doctools.js"></script>
  -->
  </head>
  <body>

    <div id="all">
    <div id="content">
      <div id="content_wrapper">
        <div id="top_menu">
          <div id="top_menu_wrapper">
          </div>
        </div>
        <div id="header_top">
          <h1 id="logo_top"><a href="http://www.symfony.gr.jp/">日本Symfonyユーザー会</a></h1>
          <div id="header_top_left"></div>
        </div>
        <!-- end #header -->
        <div id="navbar">
          <ul>
            <li><a href="http://docs.symfony.gr.jp/">Symfony2日本語ドキュメント</a></li>
          </ul>
        </div>
        <!-- end #navbar -->
        <div id="main">

      <div class="document">
        <div class="documentwrapper">
          <div class="bodywrapper">
            <div class="body">
